*{ /* l'etoile selectionne TOUS les éléments de la page html*/
    font-family: fantasy;
}

body{
    width: 50%; /* largeur de ma page=> 50% de l'ecran*/
    margin: 0 auto; /* je centre mon tableau en utilisant les marges automatiques */
}

table{
    border: 4px solid #483d8b; /* bordure - 3 valeurs: epaisseur / type de trait / couleur*/
    width: 90%; /* largeur du tableau par rapport à son contenant donc ici le body => règle de l'héritage en CSS*/
    margin: 25px;
    border-collapse: collapse; /*par défaut les bordures des tableaux ont 2 traits=> pour qu'il n'y en ait qu'un on utilise la valeur collapse*/
}

thead, tfoot{
    background-color: #e6e6fa;
    border: 2px solid #6a5acd;
}

tbody{
    border: 1px solid #6a5acd;
}

th{
    border: 1px dotted #6a5acd; /* dotted => pointillés*/
    padding: 4px; /* margue intérieure*/
    background-color: #e6e6fa;
    width: 25%;
}

td{
    font-size: 100%; /* EMMET font-size=> fz + tab */
    border: 1px dotted #6a5acd; /* EMMET border => bd+ tab */
    text-align: center; /* centre le texte - EMMET text-align => ta+ tab*/
    padding: 5px;
}

    /* texte de la 1ère colone aligné à gauche - je surchage ma ligne 36 (rext-align: center) */
    td:first-child {
        text-align: left;
        background-color: #e6e6fa;
    }

