body{
    width: 80%;
    margin: 10px auto; /* marge haut & bas/ auto => navigateur centre automatiquement le body à l'écran*/
    font-family: cursive;
}

#contenu{
    background-color: red;
    border: 2px solid #000;
}

header, footer{
    height: 80px;
    background-color: #8e3557;
    color: #fff;
    text-align: center;
    padding-top: 6px; /*padding => marge intérieure*/
}

nav{
    height: 40px;
    background-color: #4a1a2c;
    color: #fff;
    padding-left: 20px; /*EMMET padding-left => pL + tab*/
    padding-top: 6px; /*EMMET padding-top => pt + tab */
}


main{
    border: 20px solid #787746;
    background-color: #e6e2af;
    height: 500px;
    text-align: center;
}