div{
    margin: 0;
}
.vert{
    background: green;
    position: absolute;
    height: 200px;
    width: 200px;
}
.rouge{
    background: red;
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 0;
}
.noir{
    background: black;
    position: absolute;
    height: 200px;
    width: 200px;
    right: 0;
    top: 0;
}
.bleu{
    background: blue;
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 0;
    right: 0;
}
