#conteneur{
    width: 960px;
    /*valeur habituelle pour les sites car facilement divisible pour organiser les blocs*/
    background: #f4c400;
    margin :0 auto;
    /*centrage automatique = âs de marge en haut et bas mais la marge à gauche et droite sera la même quelque soit la taille de l'écran*/
    padding: 30px;
    box-sizing : border-box;
    /*permet de verrouller le conteneur sur 960px sans le padding vienne aggrandir le bloc*/
    text-align: center;
}
.a, .b{
    height: 150px;
    width: 450px;
    border: 2px solid black;
    margin: 10px 10px;
    display: inline-block;
    /*affichage en 2 blocs alignés, INILINE seul cree 2 cadre sui entourent uniquement le contenu comme le surlignage, BLOCK seul affiche 2 blocs l'un au dessus de l'autre*/
    vertical-align: middle;
    /*centrer verticalement les blocs a et b*/
    /*a et b ayant les même proprétés on les rassemble*/
}